* {
    font-family: monospace, sans-serif;
}

body {
    padding: 2em;
}

.row {
    clear: both;
}

.row div {
    float: left;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin: 0.1em;
    cursor: pointer;
}

#score {
    font-size: 2em;
    padding: 1em 0;
}

.blue {
    background: #0000aa;
}

.green {
    background: #00aa00;
}

#done {
    font-size: 2em;
}
