.row {
    clear: both;
}

.row div {
    float: left;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin: 0.1em;
    cursor: pointer;
}

.blue {
    background: #0000aa;
}

.green {
    background: #00aa00;
}
